body
{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(4, 0, 255);
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

#contenedor
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border-radius: 3px solid rgb(111, 63, 14);
    margin: 0 auto;
}

#contenedor h1
{
    font-size: 30px;
}